@use 'sass:map';

$breakpoints: (

    "xs": 0,
    "sm": 480px,
    "md": 640px, 
    "lg": 960px,
    "xl": 1200px,
    "xxl": 1440px

);

// para mobil first (min-width)
@mixin respond-to($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        $bp-value: map.get($breakpoints, $breakpoint);
        @if $bp-value > 0 {
            @media (min-width: $bp-value) {
                @content;
            }
        } @else {
            @content; // Para xs (0px) aplica siempre
        }
    } @else {
        @error "Breakpoint '#{$breakpoint}' no está definido en $breakpoints";
    }
}

// para desktop first (max-width)
@mixin max-width($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        $bp-value: map.get($breakpoints, $breakpoint);
        @if $bp-value > 0 {
            @media (max-width: calc($bp-value - 1px)) {
                @content;
            }
        }
    } @else {
        @error "Breakpoint '#{$breakpoint}' no está definido en $breakpoints";
    }
}




//especifi por breakpoint 
@mixin xs {
    @include respond-to('xs') {
      @content;
    }
  }  
@mixin sm {
    @include respond-to('sm') { 
        @content; 
    }
}

@mixin md {
    @include respond-to('md') { 
        @content; 
    }
}

@mixin lg {
    @include respond-to('lg') { 
        @content; 
    }
}

@mixin xl {
    @include respond-to('xl') { 
        @content; 
    }
}