/* aqui se definira todo lo realacionado con el espaciado de elementos ya sea padding, margins */


$espaciado-atajos: (
  "margin": "m",
  "padding": "p",
) !default;
$espaciado-direcciones: (
  "top": "t",
  "right": "r",
  "bottom": "b",
  "left": "l",
) !default;
$espaciado-horizontal: "x" !default;
$espaciado-vertical: "y" !default;
$espaciado-valores: ( 
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.5rem,
  "6": 3rem,
  "auto": auto,
) !default;