
@use 'sass:color' as *;
@use '../utilidades/colors' as *;
@use '../utilidades/variables' as *;
@use '../utilidades/functions' as *;


@mixin btn-base($bg-color: transparent){

    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    padding: $base-padding $base-padding * 2;
    // border-radius: 5px; lo saque de momento ya que hay una utilidad que aplica esta regla
    background-color: $bg-color
}


@mixin btn-size($size){

    @if $size == sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    } @else if $size == md {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    } @else if $size == lg {
        padding: 0.75rem 1.5rem;
        font-size: 1.125rem;
    }@else if($size == xl){
        padding: 1rem 1.5rem;
        font-size: 1.50rem;
    }
}


.btn{

    @include btn-base();

    &:hover{
        background-color: rgba(166, 163, 219, 0.075);
    }

}




@each $key, $value in $colors{

    @each $size in (sm, md, lg, xl){

        .btn-#{$size}{
            @include btn-base();
            @include btn-size($size);
            &:hover{
                background-color: rgba(166, 163, 219, 0.075);
            }
        }

        .btn-#{$key}{//genera un boton ex btn-red con bg-color respectivo
            @include btn-base($value);
            &:hover{
                $color-lightness: scale($color: $value, $lightness: 10%);
                background-color: $color-lightness;
            }
        }
        
        .btn-#{$key}-#{$size}{//genera un boton ex btn-red con bg-color respectivo
            @include btn-base($value);
            @include btn-size($size);
            &:hover{
                $color-lightness: scale($color: $value, $lightness: 10%);
                background-color: $color-lightness;
            }
        }


    
        
    
        .btn-outlined-#{$key}{//gen a boton con fondo blanco delineado con color respectivo
            @include btn-base(#fff);
            border: $base-border-thickness solid $value;
            &:hover{
                background-color: $value;
            }
        }
        .btn-outlined-#{$key}-#{$size}{//gen a boton con fondo blanco delineado con color respectivo
            @include btn-base(#fff);
            @include btn-size($size);
            border: calc($base-border-thickness + 1px) solid $value;
            &:hover{
                background-color: $value;
            }
        }
    
        .btn-complement-#{$key}{
            @include btn-base($value);
            color: light-comp($value);
            &:hover{
                color: $value;
                background-color:light-comp($value) ;
            }
        }
        .btn-complement-#{$key}-#{$size}{
            @include btn-base($value);
            @include btn-size($size);
            color: light-comp($value);
            &:hover{
                color: $value;
                background-color:light-comp($value) ;
            }
        }
    }
    

    
    
}