//el orden de importacion es importante

//reset css y estilos base
@use './base/_base.scss' as *;

//variables y mixins(funciones)

@use './utilidades/_utilidades.scss' as *;


//componentes
@use './componentes/_componentes.scss' as *;

// Formularios
@use 'formulario' as *;

body {

    // background-color: $theme-color-red;
    font-family: $alt-font;

}

.theme-font {

    font-family: $base-font;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-size: clamp(0.75rem, 2vw + 1rem, 3rem);
}



