//el orden de importacion es importante

//reset css y estilos base
@use './base/_base.scss' as *;

//variables y mixins(funciones)

@use './utilidades/_utilidades.scss' as *;


//componentes
@use './componentes/_componentes.scss' as *;

// Formularios
@use 'formulario' as *;

body {

    // background-color: $theme-color-red;
    font-family: $alt-font;

}

.theme-font {

    font-family: $base-font;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-size: clamp(0.75rem, 2vw + 1rem, 3rem);
}

.sub-title {
    font-size: clamp(0.65rem, 1.5vw + 1rem, 1.75rem);
}


.no-border {
    border: none;
}

//
// Esta clase define los estilos para mostrar codigo html puro en la documentacion
//

.code-container {
    background-color: $code-background-color;
    color: $code-text-color;
    padding: $code-padding;
    overflow-x: auto;
    max-width: 100%;
    font-family: $code-font-family;
    white-space: pre;
    text-align: left;

    .code-header {
        background-color: $code-background-color;
        color: $code-header-text-color;
        padding: $code-header-padding;
        font-family: inherit;
        font-weight: bold;
    }

    .code-body {
        border-top: 1px solid $code-border-color;

        code {
            display: block;
        }
    }
}



.h-rule{

    width: 25%;
    margin: 0;
    border: none;
    height: 3px;
}

.text-is-centered {
    text-align: center;
  
    // También fuerza a que los hijos relevantes estén centrados
    & > h1, 
    & > h2, 
    & > h3, 
    & > h4, 
    & > h5, 
    & > h6, 
    & > p, 
    & > span, 
    & > a {
      text-align: center;
    }
  }
  
  // Alinear texto a la izquierda
  .text-is-left {
    text-align: left;
  
    & > h1, 
    & > h2, 
    & > h3, 
    & > h4, 
    & > h5, 
    & > h6, 
    & > p, 
    & > span, 
    & > a {
      text-align: left;
    }
  }
  
  // Alinear texto a la derecha
  .text-is-right {
    text-align: right;
  
    & > h1, 
    & > h2, 
    & > h3, 
    & > h4, 
    & > h5, 
    & > h6, 
    & > p, 
    & > span, 
    & > a {
      text-align: right;
    }
  }
  
  // === Titles specific ===
  
  // Centrar solo títulos
  .title-is-centered {
    & > h1, 
    & > h2, 
    & > h3, 
    & > h4, 
    & > h5, 
    & > h6 {
      text-align: center;
    }
  }
  
  // Títulos alineados a la izquierda
  .title-is-left {
    & > h1, 
    & > h2, 
    & > h3, 
    & > h4, 
    & > h5, 
    & > h6 {
      text-align: left;
    }
  }
  
  // Títulos alineados a la derecha
  .title-is-right {
    & > h1, 
    & > h2, 
    & > h3, 
    & > h4, 
    & > h5, 
    & > h6 {
      text-align: right;
    }
  }

  .borders-are-rounded {
    & > * {
      border-radius: 0.5rem;
    }
  }

    