pre{
    background-color: #423f3f;
    color: #f8f8f2;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
}

code {
    
    font-family: monospace;
    font-size: 0.9rem;
}

.ww{
  width: 25% !important;
}


html {
    font-size: 16px; /* base: 1rem = 16px */
  }
  
  @media (max-width: 1024px) {
    html {
      font-size: 15px !important; /* escala todo levemente hacia abajo */
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 14px !important;
    }
  }
  
  @media (max-width: 480px) {
    html {
      font-size: 12px !important;
    }
  }

  @media (max-width: 360px) {
    html {
      font-size: 9px !important;
    }
  }
  
  